/* common shared style */

.banner {
    background-image: url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.banner>.banner-text {
    text-align: center;
    padding-top: 100px;
}

.banner>.banner-text>.new-year {
    color: #00f2ff;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner>.banner-text>.banner-item {
    color: #00f2ff;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;

}

.about>.about-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.about>.about-description {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.about>.categori {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.about>.about-banner {
    padding: 0 30% 0 30%;
}

.welcome {
    background-image: url('images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    padding-top: 200px;
}

.welcome>.welcome-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-left: 380px;
}

.welcome>.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    margin-left: 380px;
}

.btn {
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 18px 36px;
    font-size: 20px;
    color: #FFF;
    margin-left: 380px;
}

.btn:hover {
    background-color: #a84804;
    color: #030000;
}

.box {
    height: 350px;
    width: 1320px;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    margin-left: 280px;
    background-color: #fffaf6;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.box:hover {
    background-color: #dbd7d4;
}

.box>h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 20px;
    margin-top: 50px;
}

.box>.place {
    padding-left: 500px;

}

.box>.date {
    padding-left: 450px;
}

.box>.time {
    padding-left: 420px;
}

#address-btn {
    margin-left: 580px;
}

.color-text {
    color: #F00;
}

.offer {
    display: flex;
    width: 1320px;

    margin-left: 280px;
    margin-top: 100px;
}

.offer>.best-offer {
    width: 35%;
    padding: 20px 30px 20px 50px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.offer>.best-offer:hover {
    background-color: #dfdcdc;
}

.offer>.offer-img {
    width: 30%;
    border: 15px solid #F00;
    border-radius: 50%;
    padding-left: 80px;
    height: 370px;
    padding: 12px 12px 6px 12px;

}
.offer>.offer-year {
    width: 35%;
    padding: 0px 10px 10px 50px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.offer>.offer-year:hover {
    background-color: #dfdcdc;
}

.offer>.best-offer>.best {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.offer>.best-offer>.offer-item {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}
.offer>.best-offer.offer-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
}
.offer>.offer-year>h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.offer>.offer-year>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.function-header {
    text-align: center;
    margin-top: 120px;
    
}

.function-header>.functional {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 30px;

}

.function-header>.header-item {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
}

.function-header>.function-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 30px;
}
.content-footer{
    background-image:url('images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
    height: 220px;
}
.content-banner{
    display: flex;
    position: relative;
}
#img-one{
    position: absolute;
    padding: 30px 0 0 280px;
}
.img-tow{
    background-image: url('images/Rectangle\ 1.png');
    background-repeat: no-repeat;
    height: 500px;
    background-position: right bottom;
    margin-right: 282px;
}
.img-tow>.discount{
    margin: 100px 1000px;
}