/* common shared style */

.banner {
    background-image: url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.banner>.banner-text {
    text-align: center;
    padding-top: 100px;
}

.banner>.banner-text>.new-year {
    color: #00f2ff;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner>.banner-text>.banner-item {
    color: #00f2ff;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;

}

.about>.about-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.about>.about-description {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.about>.categori {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.about>.about-banner {
    padding: 0 30% 0 30%;
}

.welcome {
    background-image: url('images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    padding-top: 200px;
}

.welcome>.welcome-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-left: 380px;
}

.welcome>.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    margin-left: 380px;
}
.btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    padding: 18px 36px;
    font-size: 20px;
    color: #FFF;
    margin-left:380px ;
}